*{margin:0;padding:0}
body{margin:0 auto;}
.slider-box,.slider-box2{width:500px;height:500px;margin:0 auto;border:1px solid #ccc;overflow:hidden;position:relative;}
.slider-box .slider-item,.slider-box2 .slider-item{display:block;width:500px;height:500px;}
.slider-item img{display:block;width:500px;height:500px;border:0px;}